.ipynb_checkpoints/
Dataset+projet+prétraitement+textes+images
EL_P6_classifiez-automatiquement-des-biens-de-consommation_2021-06-20T170217
Capture d’écran du 2021-09-21 19-53-49.png
Capture d’écran du 2021-09-21 19-55-37.png
P6_Senechal_Yannick.zip
P6_02_Support_00.odp


